@import "../abstracts/variables";
@import "../abstracts/mixins";

.json-formatter-card, .password-generator-card, .stopwatch-card {
  @include card-style;

  nb-card-header {
    background-color: $background-light;
    border-bottom: 1px solid $border-color;
    padding: 10px 20px;
  }

  nb-card-body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
