<nb-layout>
    <nb-layout-column>
        <nb-card class="diff-checker-card">
            <nb-card-header>
                <h2>File Diff Checker</h2>
            </nb-card-header>
            <nb-card-body>
                <!-- Side-by-side Panels for Text Inputs -->
                <div class="text-inputs-container">
                    <div class="panel modified">
                        <div class="header">Modified Text:</div>
                        <textarea nbInput id="modified-text" [(ngModel)]="modifiedText" 
                                  placeholder="Paste or type the modified text here" class="text-input-area"></textarea>
                    </div>
                    <div class="panel original">
                        <div class="header">Original Text:</div>
                        <textarea nbInput id="original-text" [(ngModel)]="originalText" 
                                  placeholder="Paste or type the original text here" class="text-input-area"></textarea>
                    </div>
                </div>
                <button nbButton status="primary" (click)="checkDifferences()">Compare</button>
                
                <!-- Results Section -->
                <div class="output-section" #outputSection>
                    <div *ngFor="let diff of diffResults" class="diff-line" [ngClass]="{'changed': diff.changed}">
                        <div [innerHTML]="diff.original"></div>
                        <div [innerHTML]="diff.modified"></div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </nb-layout-column>
</nb-layout>
